@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoModel
@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/custom.css");
    Html.AddScriptParts("https://cdn.jsdelivr.net/npm/typed.js@2.0.11");
}

<div class="slider-wrapper nivo-banner">
    @if (!string.IsNullOrEmpty(Model.Picture1Url))
    {
        <img class="slider d-none" data-caption="@Model.Text1" data-text="@Model.AltText1"
             src="@Model.Picture1Url">
    }
    @if (!string.IsNullOrEmpty(Model.Picture2Url))
    {
        <img class="slider d-none" data-caption="@Model.Text2" data-text="@Model.AltText2"
             src="@Model.Picture2Url">
    }
    @if (!string.IsNullOrEmpty(Model.Picture3Url))
    {
        <img class="slider d-none" data-caption="@Model.Text3" data-text="@Model.AltText3"
             src="@Model.Picture3Url">
    }
    @if (!string.IsNullOrEmpty(Model.Picture4Url))
    {
        <img class="slider d-none" data-caption="@Model.Text4" data-text="@Model.AltText4"
             src="@Model.Picture4Url">
    }
    @if (!string.IsNullOrEmpty(Model.Picture5Url))
    {
        <img class="slider d-none" data-caption="@Model.Text5" data-text="@Model.AltText5"
             src="@Model.Picture5Url">
    }

    <div class="container banner-content">
        <div class="row">
            <div class="col-8 pt-5 text-white">
                <h3 class="mb-5 text-white"> @Model.StaticTagLineText </h3>
                <div id="typed-strings">
                    <span>
                        <span class="typed-caption"></span>
                        <br>
                        <span class="typed-text"></span>
                    </span>
                </div>
                <span id="typed"></span>
            </div>
            <div class="col-4 banner-caption-right pt-5 text-white text-center">
                <h5 class="text-white"> @Model.BoxTextTop </h5>
                <div class="bcr-categories d-flex justify-content-center flex-wrap mt-3">
                    @if (!string.IsNullOrEmpty(Model.BoxIcon1Url))
                    {
                        <div class="bg-white rounded-circle pt-2 m-2" style="width: 64px; height: 64px;">
                            <img src="@Model.BoxIcon1Url" alt="" class="img-fluid m-auto d-block">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.BoxIcon2Url))
                    {
                        <div class="bg-white rounded-circle pt-2 m-2" style="width: 64px; height: 64px;">
                            <img src="@Model.BoxIcon2Url" alt="" class="img-fluid m-auto d-block">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.BoxIcon3Url))
                    {
                        <div class="bg-white rounded-circle pt-2 m-2" style="width: 64px; height: 64px;">
                            <img src="@Model.BoxIcon3Url" alt="" class="img-fluid m-auto d-block">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.BoxIcon4Url))
                    {
                        <div class="bg-white rounded-circle pt-2 m-2" style="width: 64px; height: 64px;">
                            <img src="@Model.BoxIcon4Url" alt="" class="img-fluid m-auto d-block">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.BoxIcon5Url))
                    {
                        <div class="bg-white rounded-circle pt-2 m-2" style="width: 64px; height: 64px;">
                            <img src="@Model.BoxIcon5Url" alt="" class="img-fluid m-auto d-block">
                        </div>
                    }
                </div>
                <h6 class="text-white" style="margin-top: 115px;">@Model.BoxTextBottom</h6>
                <button class="btn bg-white mt-2 shadow"> @Model.BoxButtonText </button>
            </div>
        </div>
    </div>
</div>
    <script asp-location="Footer">

        async function sleep(z) {
            await new Promise(r => setTimeout(r, z));
        }

        // the greenish overlay on the background
        const BG_OVERLAY = `linear-gradient(282deg, rgba(174,213,121,0),
            rgba(99,144,56,0.8))`;

        // typed.js options
        const typeWriterOptions = {
            stringsElement: '#typed-strings',
            backDelay: 5000,
            typeSpeed: 60,
            loop: true,
            loopCount: 2,
            onLastStringBackspaced: changeSlide
        };

        // active slide, slider items, tped.js instance
        let index = 0, sliders = [], typed;

        async function setSlideContent(slideObj) {
            const imgContent = `${BG_OVERLAY},url(${slideObj.imgUrl})`;
            $('.nivo-banner').removeClass('fade-effect');
            await sleep(150);
            $('.nivo-banner')
                .css('background-image', imgContent)
                .addClass('fade-effect');
            await sleep(1500);
            $('.typed-caption').text(slideObj.caption);
            $('.typed-text').text(slideObj.text);
            typed = new Typed('#typed', typeWriterOptions);
            index = index >= sliders.length - 1 ? 0 : ++index;
        }

        function changeSlide() {
            typed.stop();
            $('#typed, .typed-caption, .typed-text').html('');
            $('.typed-cursor').remove();
            setSlideContent(sliders[index]);
        }

        $(document).ready(async function () {
            sliders = $('.slider').toArray()
                .map(slider => {
                    return {
                        imgUrl: $(slider).attr('src'),
                        caption: $(slider).data('caption'),
                        text: $(slider).data('text')
                    };
                });

            setSlideContent(sliders[index]);
        });

    </script>
