@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Services.Orders
@using Nop.Web.Factories

@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject OrderSettings orderSettings
@inject IShoppingCartService _shoppingCartService
@inject IShoppingCartModelFactory _shoppingCartModelFactory

@{
    var itemsPreSelected = 0;
    if (Model.Items.Count > 0)
    {
        itemsPreSelected = Model.Items
            .Where(x => x.ShoppingCartTypeId == 1)
            .ToList().Count;
    }
}

<style>
    .vendor-item-wrap .d-flex:not(:last-child) {
        border-bottom: 1px solid #eee;
        margin-bottom: 18px;
    }
    .qty-handlers .input-group-prepend,
    .qty-handlers .input-group-append {
        width: 25%;
    }

    .qty-handlers input {
        width: 50%;
        height: initial;
    }

    @@media all and (max-width: 576px) {
        .qty-handlers .input-group-prepend,
        .qty-handlers .input-group-append {
            width: 100%;
        }

        .qty-handlers input {
            width: 100%;
        }

        .item-price-wrap h3 {
            padding-top: 35px;
        }
    }
</style>

<div class="container cart-item-container pt-4">

    @if (Model.Warnings.Count > 0)
    {
        <div class="message-error border-danger m-3">
            <ul>
                @foreach (var warning in Model.Warnings)
                {
                    <li>@warning</li>
                }
            </ul>
        </div>
    }
    @* Items Grid *@
    @if (Model.Items.Count > 0)
    {
        <div class="row">
            <div class="col-lg-8">

                @* Preferred Delivery Option *@
                <div class="card rounded-0 delivery-option mb-3">
                    <div class="card-body p-2">
                        <h4 class="font-weight-normal">Preferred Delivery Option</h4>
                        <div class="d-flex pr-md-4 mt-2">
                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-primary rounded-0">Standard</button>
                                <button type="button" class="btn btn-outline-success border-left-0 border-right-0 rounded-0">Express</button>
                                <button type="button" class="btn btn-outline-danger rounded-0">Pickup from Store</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card rounded-0">
                    <div class="card-body p-2">
                        <div class="d-flex">
                            <div class="col-auto pl-2 pr-2">
                                <input type="checkbox"
                                       class="cart-item-select-all"
                                       id="selectAllItem"
                                       checked="@(Model.Items.Count == itemsPreSelected)" />
                            </div>
                            <div class="col-auto pl-0">
                                <button class="btn btn-sm p-0 pl-2 pr-2">
                                    <span class="d-none d-sm-inline-block">
                                        Select
                                    </span>
                                        All
                                     </button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-sm p-0 pl-2 pr-2 btn-warning delete-selected-items rounded-0 shadow-sm">
                                    <i class="far fa-trash-alt mr-lg-2"></i>
                                    <span class="d-none d-md-inline-block">
                                        Delete Selected
                                    </span>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-sm p-0 pl-2 pr-2 btn-danger empty-cart rounded-0 shadow-sm">
                                    <i class="fas fa-trash-alt mr-lg-2"></i>
                                    <span class="d-none d-md-inline-block">
                                        Empty Cart
                                    </span>
                                </button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-sm p-0 pl-2 pr-2 btn-info refresh-cart rounded-0 shadow-sm">
                                    <i class="fas fa-sync mr-lg-2"></i>
                                    <span class="d-none d-md-inline-block">
                                        Refresh Cart
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                @{
                    var vendorWiseItems = Model.Items.GroupBy(x => x.VendorName).ToList();

                    foreach (var vendorWiseItem in vendorWiseItems)
                    {
                        <div class="card rounded-0 mt-2">
                            <div class="card-header text-lowercase font-weight-bolder">
                                @vendorWiseItem.FirstOrDefault().VendorName
                            </div>
                            <div class="card-body pt-4 pb-0 pl-2 pr-2 vendor-item-wrap">
                                @foreach (var item in vendorWiseItem.ToList())
                                {
                                    <div class="d-flex pb-3">

                                        @* Item Checkbox *@
                                        <div class="col-3 pl-2 pr-2">
                                            <div class="d-flex">
                                                <div class="col-auto pl-2 pr-2">
                                                    <input type="checkbox"
                                                           class="cart-item-cb"
                                                           id="select-@(item.Id)"
                                                           value="@(item.Id)"
                                                           @(item.ShoppingCartTypeId == 1 ? "checked" : null) />
                                                    <label for="select-@(item.Id)" class="td-title"></label>
                                                </div>

                                                <div class="col-auto pl-0 pr-0">
                                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">
                                                        <img alt="@item.Picture.AlternateText"
                                                             src="@item.Picture.ImageUrl"
                                                             title="@item.Picture.Title"
                                                             style="width: 100%;" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        @* Item Name, Price, Qty *@
                                        <div class="col-9 pl-2 pr-2">
                                            <div class="row">
                                                <div class="col-12 text-left col-md-5 pl-5 pr-2">
                                                    @{
                                                        var perishable = item.IsPerishable ? "Perishable" : "Non-Perishable";
                                                        var colorClass = item.IsPerishable ? "bg-danger" : "bg-success";
                                                        <span class="@colorClass text-white rounded-pill pl-2 pr-2 mb-1 product-perishable"> @perishable </span>
                                                    }
                                                    <h4 class="font-weight-light">
                                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">
                                                            @item.ProductName
                                                        </a>
                                                    </h4>
                                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                    {
                                                        <div class="attributes p-2 mt-2">
                                                            @Html.Raw(item.AttributeInfo)
                                                        </div>
                                                    }
                                                    <div class="item-action">
                                                        <i class="fas fa-trash-alt cursor-pointer p-3"
                                                           data-item-id="@item.Id"></i>
                                                    </div>
                                                </div>

                                                <div class="col-6 col-md-3 text-center pt-2 pl-2 pr-2 item-price-wrap">

                                                    @* Unit Price *@
                                                    <h3 class="font-weight-normal text-greenish"> @item.UnitPrice </h3>

                                                    @* Old Price *@
                                                    @if (!String.IsNullOrEmpty(item.OldPrice))
                                                    {
                                                        <h4 class="text-muted text-line-through"> @item.OldPrice </h4>
                                                    }

                                                    @* Discount Percentage *@
                                                    @if (!String.IsNullOrEmpty(item.Discount))
                                                    {
                                                        <h4> -@item.Discount </h4>
                                                    }

                                                </div>

                                                <div class="col-6 col-md-4">
                                                    <div class="input-group qty-handlers">
                                                        <div class="input-group-prepend qty-decrease @(item.Quantity == 1 ? "is-disabled" : null)">
                                                            <i class="fas fa-minus cursor-pointer d-block w-100"
                                                               style="text-align: center; line-height: 35px;"></i>
                                                        </div>
                                                        <input name="itemquantity@(item.Id)"
                                                               id="itemquantity@(item.Id)"
                                                               type="text"
                                                               value="@(item.Quantity)"
                                                               data-qty="@(item.Quantity)"
                                                               class="qty-input text-center p-2" />
                                                        <div class="input-group-append qty-increase">
                                                            <i class="fas fa-plus cursor-pointer d-block w-100"
                                                               style="text-align: center; line-height: 35px;"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    }
                }



            </div>
            <div class="col-lg-4">
                <div class="card border-0 rounded-0 shadow-sm">
                    <div class="card-body p-2">
                        <h3> @T("ShoppingCart.OrderSummary") </h3>

                        @{
                            var cart = _shoppingCartService.GetShoppingCart(workContext.CurrentCustomer, ShoppingCartType.ShoppingCart, 0);
                            var orderTotalModel = _shoppingCartModelFactory.PrepareOrderTotalsModel(cart, true);

                            var orderSubTotal = !string.IsNullOrEmpty(orderTotalModel.SubTotal)
                                ? Decimal.Parse(orderTotalModel.SubTotal.Replace('৳', ' ').Replace('$', ' '))
                                : 0;

                            var shippingCost = itemsPreSelected > 0 ? 55 * itemsPreSelected : 0;

                            var orderTotal = orderSubTotal + shippingCost;

                            <div class="ot-wrap mt-3">
                                <div class="row">
                                    <div class="col-7 font-weight-normal">
                                        @T("ShoppingCart.Totals.SubTotal") (@itemsPreSelected):
                                    </div>
                                    <div class="col-5 font-weight-normal text-right">
                                        @orderTotalModel.SubTotal
                                    </div>
                                </div>

                                @if (!String.IsNullOrEmpty(orderTotalModel.SubTotalDiscount))
                                {
                                    <div class="row mt-2">
                                        <div class="col-7 font-weight-normal">
                                            @T("ShoppingCart.Totals.SubTotalDiscount"):
                                        </div>
                                        <div class="col-5 font-weight-normal text-right">
                                            @orderTotalModel.SubTotalDiscount
                                        </div>
                                    </div>
                                }

                                <div class="row mt-2">
                                    <div class="col-7 font-weight-normal">
                                        @T("ShoppingCart.Totals.Shipping"):
                                    </div>
                                    <div class="col-5 font-weight-normal text-right">
                                        @shippingCost ৳
                                    </div>
                                </div>

                                <div class="row mt-3 mb-3">
                                    <div class="col-12">
                                        <hr style="border: none; height: 1px; background: #eee;" />
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-7 font-weight-bold">
                                        @T("ShoppingCart.Totals.OrderTotal"):
                                    </div>
                                    <div class="col-5 font-weight-bold text-right">
                                        <span>
                                            @orderTotal ৳
                                        </span>
                                    </div>
                                </div>

                            </div>
                        }

                        <a href="@Url.RouteUrl("ShoppingCartFinal")"
                                id="checkout"
                                class="btn btn-success bg-greenish btn-block border-0 rounded-0 shadow-sm mt-3">
                            @T("Checkout.Button")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        var noContent = await Html.PartialAsync("_Cart.Empty");
        @noContent
    }

</div>

