@model IList<CustomerAttributeModel>
@using Nop.Core.Domain.Catalog
@using Nop.Web.Framework.Controllers;

@{
    var addressRequired = this.ViewData["addressRequired"];
    var isRequired = Convert.ToBoolean(addressRequired);
}

@foreach (var attribute in Model)
{
    var controlId = $"{NopAttributePrefixDefaults.Customer}{attribute.Id}";
    var textPrompt = attribute.Name;

    var jid = String.Concat(textPrompt.Where(c => !Char.IsWhiteSpace(c)));

    <div class="inputs custom-attributes">
        <label>@textPrompt:</label>
        <input type="hidden" name="@(controlId)" id="@(controlId)" data-jid="@jid" />
        <select id="@jid"
                name="@jid"
                data-val="@isRequired"
                data-val-required="@jid is required.">
            <option></option>
            @foreach (var attributeValue in attribute.Values)
            {
                <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeValue.Name</option>
            }
        </select>
        @if (isRequired)
        {
            <nop-required />
            <span class="field-validation-error" data-valmsg-for="@jid" data-valmsg-replace="true"></span>
        }
    </div>
}
