@model CustomerWishRequestModel
@{
    //page title
    ViewBag.Title = T("Admin.Promotions.CustomerWish.EditCustomerWish").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CustomerWish");
}
<form asp-controller="CustomerWish" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Promotions.Advertisements.EditAdvertisementDetails") - @Model.Id
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Promotions.Advertisements.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="RequestTitle" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="RequestTitle" />
                        <span asp-validation-for="RequestTitle"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Details" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Details" />
                        <span asp-validation-for="Details"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="IsActive" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsActive" />
                        <span asp-validation-for="IsActive"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="label-wrapper">
                            <label class="control-label" for="OrderId">Customer</label>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-text-row">@Model.Customer</div>
                        <input type="hidden" asp-for="CustomerId" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="label-wrapper">
                            <label class="control-label" for="OrderId">Category</label>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-text-row">@Model.Category</div>
                        <input type="hidden" asp-for="CategoryId" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="label-wrapper">
                            <label class="control-label" for="OrderId">Expected Delivery</label>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-text-row">@Model.ExpectedEndDateUtc.ToString("dd/mm/yyyy")</div>
                        <input type="hidden" asp-for="ExpectedStartDateUtc" />
                        <input type="hidden" asp-for="ExpectedEndDateUtc" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*@await Html.PartialAsync("_CreateOrUpdate", Model)*@

</form>
@{
    var model = new CustomerWishResponseSearchModel();
    model.CustomerWishRequestId = Model.Id;
    @await Html.PartialAsync("_Response", model)
}