@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="alert alert-success result">
                @Model.Result
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="form-group">
                            <div class="row">
                                <label asp-for="NewPassword" asp-postfix=":" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-form-label"></label>
                                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                    <input asp-for="NewPassword" class="form-control" />
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                    <nop-required />
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                    <span asp-validation-for="NewPassword"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label asp-for="ConfirmNewPassword" asp-postfix=":" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-form-label"></label>
                                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                    <input asp-for="ConfirmNewPassword" class="form-control" />
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                    <nop-required />
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                    <span asp-validation-for="ConfirmNewPassword"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="set-password" class="button-1 btn btn-primary new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                </div>
            </form>
        }
    </div>
</div>