@model IList<CategoryModel>

@if (Model.Count > 0)
{
<section class="category-product-collection padding-bottom">

    @foreach (var category in Model)
    {
        <div class="cpc-item-wrapper row no-gutters position-relative mb-3 mb-lg-0" data-cid="@category.Id">

            <div class="col-12 col-lg-auto cpc-info">
                <div class="cpc-ads-wrap">
                    <div class="cpc-ads d-flex align-items-center h-100">
                        <h6 class="text-center text-muted w-100"> Ads Space </h6>
                    </div>
                </div>
                <div class="cpc-descn-wrap cursor-pointer">
                    <div class="cpc-descn position-relative h-100">
                        <img src="@category.PictureModel.ImageUrl" alt="" loading="lazy">
                        <div class="cpc-descn-overlay bg-gradient-green p-2 shadow">
                            <div class="pt-1">
                                <h5 class="text-white"> @category.Name </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-auto cpc-nav">
                <div class="nav flex-lg-column nav-tabs justify-content-center" id="cpc-cid-@category.Id-tabs" role="tablist"
                     aria-orientation="vertical">
                    <a class="nav-link active" id="cpc-@category.Id-featured-tab" data-toggle="tab" href="#cpc-@category.Id-featured"
                       role="tab" data-category-id="@category.Id" data-ref-id="20">Featured</a>
                    <a class="nav-link" id="cpc-@category.Id-bestseller-tab" data-toggle="tab" href="#cpc-@category.Id-bestseller"
                       role="tab" data-category-id="@category.Id" data-ref-id="30">Best Seller</a>
                    <a class="nav-link" id="cpc-@category.Id-newarrival-tab" data-toggle="tab" href="#cpc-@category.Id-newarrival"
                       role="tab" data-category-id="@category.Id" data-ref-id="10">New Arrival</a>
                </div>
            </div>
            <div class="col cpc-products">
                <div class="tab-content h-100" id="cpc-cid-@category.Id-tabContent" data-tab-group="@category.Id">
                    <div class="tab-pane h-100 fade show active" id="cpc-@category.Id-featured" role="tabpanel" data-tab-type="20">
                        <div class="d-flex align-items-center h-100">
                            <img src="/Themes/AgroMukam/Content/images/loading.gif" class="d-block m-auto" />
                        </div>
                    </div>
                    <div class="tab-pane h-100 fade" id="cpc-@category.Id-bestseller" role="tabpanel" data-tab-type="30">
                        <div class="d-flex align-items-center h-100">
                            <img src="/Themes/AgroMukam/Content/images/loading.gif" class="d-block m-auto" />
                        </div>
                    </div>
                    <div class="tab-pane h-100 fade" id="cpc-@category.Id-newarrival" role="tabpanel" data-tab-type="10">
                        <div class="d-flex align-items-center h-100">
                            <img src="/Themes/AgroMukam/Content/images/loading.gif" class="d-block m-auto" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</section>
}

<script asp-location="Footer">
    const URL = '/Promo/GetCategoryAndPromotionTypeWiseProducts';

    function getCategoryCollectionProducts(categoryId, tabTypeId) {
        const selector = `#cpc-cid-${categoryId}-tabContent div[data-tab-type="${tabTypeId}"]`;

        if (!$(selector).hasClass('content-loaded')) {
            const url = URL + `?categoryId=${categoryId}&promotionTypeId=${tabTypeId}`;
            $.get(url, function (data) {
                $(selector)
                    .html(data)
                    .addClass('content-loaded');
            });
        }

        
    }

    $(document).ready(function () {

        $('.cpc-item-wrapper').each(function () {
            const categoryId = $(this).data('cid');
            const tabTypeId = 20;
            getCategoryCollectionProducts(categoryId, tabTypeId);
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            const categoryId = $(this).data('category-id');
            const tabTypeId = $(this).data('ref-id');
            getCategoryCollectionProducts(categoryId, tabTypeId);
        });        
    });
</script>