@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@{ //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id }); }
<div class="product-item card border-light rounded-0" data-productid="@Model.Id">

    <img alt="@Model.DefaultPictureModel.AlternateText"
         src="@Model.DefaultPictureModel.ImageUrl"
         title="@Model.DefaultPictureModel.Title"
         class="visible-md-block w-100 card-img-top"
         loading="lazy" >
    <div class="card-body p-2">

        <div class="details text-center">
            <h5 class="product-title font-weight-normal">
                <a
                   class="text-muted"
                   href="@Url.RouteUrl("Product", new {SeName = Model.SeName})">@Model.Name</a>
            </h5>

            <div class="product-rating-box">
                <i class="far fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
            </div>


            <div class="add-info">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBoxAddinfoBefore, additionalData = Model })
                <div class="prices pt-2 pb-2">
                    @if (!string.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                    {
                    <h4 class="price text-muted-x2 old-price">@Model.ProductPrice.OldPrice</h4>}
                    <h4 class="price text-theme-dark mb-0 actual-price">@Model.ProductPrice.Price</h4>
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBoxAddinfoMiddle, additionalData = Model })
                <div class="buttons">
                    @if (!Model.ProductPrice.DisableBuyButton)
                    {
                        var addToCartText = T("ShoppingCart.AddToCart").Text;
                        if (Model.ProductPrice.IsRental)
                        {
                            addToCartText = T("ShoppingCart.Rent").Text;
                        }
                        if (Model.ProductPrice.AvailableForPreOrder)
                        {
                            addToCartText = T("ShoppingCart.PreOrder").Text;
                        }

        <div class="btn-group btn-group-sm container" role="group" aria-label="Basic example">
            <button type="button"
                    class="btn btn-outline-muted rounded-0"
                    onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;">
                <i class="fas fa-retweet"></i>
            </button>
            <button type="button"
                    class="btn btn-outline-muted rounded-0"
                    onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;">
                <i class="fas fa-cart-plus"></i>
            </button>
            <button type="button"
                    class="btn btn-outline-muted rounded-0"
                    onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;">
                <i class="fas fa-retweet"></i>
            </button>
        </div>}

                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBoxAddinfoAfter, additionalData = Model })
            </div>
        </div>

    </div>
</div>
