@model ContactUsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h1>@T("PageTitle.HowCanWeHelpYou")</h1>
    </div>
    <div class="contact-us-page-body">

        <div class="how-can-we-help">
            <div class="column">
                <div class="column-title">
                    <i class="fal fa-truck-container"></i>
                    <span>
                        @T("ContactUs.IWantToKnowWhereMyOrderIs")
                    </span>
                </div>
                <div class="column-desc">
                    <span>
                        @T("ContactUs.GetStatusUpdatesAboutYourOrderWithOurTrackingTool")
                    </span>
                </div>
            </div>
            <div class="column">
                <div class="column-title">
                    <i class="fal fa-truck-loading"></i>
                    <span>
                        @T("ContactUs.IWantToReturnAnItem")
                    </span>
                </div>
                <div class="column-desc">
                    <span>
                        @T("ContactUs.UseOurOnlineReturnFormToStartYourReturn")
                    </span>
                </div>
            </div>
            <div class="column">
                <div class="column-title">
                    <i class="fal fa-truck-container"></i>
                    <span>
                        @T("ContactUs.IWantToCancelAnOrder")
                    </span>
                </div>
                <div class="column-desc">
                    <span>
                        @T("ContactUs.UseOurOnlineCancellationFormToStartYourOrderCancellation")
                    </span>
                </div>
            </div>
            <div class="help-bottom">
                <h4>@T("ContactUs.IHaveAnotherQuestion")</h4>
                <p> <a href="#">@T("ContactUs.Search") <i class="fal fa-chevron-right"></i></a> </p>
                <p> <a href="#">@T("ContactUs.BrowseHelpCenter") <i class="fal fa-chevron-right"></i></a> </p>
            </div>
        </div>

        <div class="contact-us-section">
            <div class="cartoon">
                <img src="/Themes/Venture/Content/img/contact-us.png" alt="Contact Us" />
            </div>
            <div class="contact-text">
                <p>
                    @T("ContactUs.ForOrderStatusInquire", "#")
                </p>
                <p>
                    @T("ContactUs.ToCancelAndReturnOrder", "#")
                </p>
                <p>
                    @T("ContactUs.ForOtherConcerns", "#")
                </p>
                <p>
                    @T("ContactUs.CantFindTheAnswerYouAreLookingFor")
                </p>
                <button class="button-1">
                    <i class="fal fa-comments-alt"></i>
                    @T("ContactUs.LiveChatNow")
                </button>
                <p>
                    @T("ContactUs.StillNeedHelp", "#")
                </p>
            </div>
        </div>

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })
    </div>
</div>

<style>

     .contact-us-page-body {
         /*background: #fff;*/
        /*box-shadow: 0 0 14px rgba(0,0,0,0.06);*/
        max-width: 1024px;
        margin: auto;
     }

     .contact-us-page-body a {
         color: #a6cf27;
     }

    .how-can-we-help {
        display: block;
        width: 100%;
    }
    
    .how-can-we-help .column {
        display: inline-block;
        float: left;
        width: 32.3%;
        background: #fff;
        box-shadow: 0 0 14px rgba(0,0,0,.06);
        margin: 0px 10px 10px 0;
        padding: 10px;
        min-height: 115px;
    }

    .how-can-we-help .column .column-title {
        font-size: 18px;
        color: #a6cf27;
    }

    .how-can-we-help .column .column-desc {
        margin-top: 8px;
        font-family: 'Lato', sans-serif;
        text-transform: capitalize;
    }

    .how-can-we-help .help-bottom {
        display: inline-block;
        width: 100%;
        margin: 20px auto 30px;
    }

    .contact-us-section {
        display: block;
        width: 100%;
    }

    .contact-us-section .cartoon {
        display: inline-block;
        width: 40%;
        float: left;
    }

    .contact-us-section .contact-text {
        display: inline-block;
        width: 60%;
        padding-left: 35px;
    }
    .contact-us-section .contact-text p,
    .contact-us-section .contact-text button {
        margin: 8px 0;
        font-family: 'Lato', sans-serif;
        text-transform: capitalize;
    }

</style>