@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Services.Common
@using Nop.Services.Customers
@using Nop.Services.Seo
@inject ICustomerService customerService
@inject IGenericAttributeService genericAttributeService
@inject IUrlRecordService _urlRecordService
@inject IWorkContext workContext

@{
    var customer = workContext.CurrentCustomer;
    var isLoggedIn = customerService.IsRegistered(customer);
    var isVendor = customerService.IsVendor(customer);
    var myAccountHref = isLoggedIn ? Url.RouteUrl("CustomerInfo") : Url.RouteUrl("Login");
}

@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })

@* Top Links *@
<nav class="navbar p-md-0 navbar-expand-sm navbar-light top-links bg-light-green d-none d-lg-block">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTop4">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item pl-1 pr-1">
                    <a href="/vendor-login" class="nav-link text-white">
                        <i class="fas fa-funnel-dollar"></i> Start Selling
                    </a>
                </li>
                <li class="nav-item pl-1 pr-1">
                    <a href="/customer-wish-request/all/" class="nav-link text-white">
                        <i class="fas fa-hand-sparkles"></i> Customer Wish
                    </a>
                </li>
                @if (isLoggedIn && isVendor)
                {
                    var vendor = workContext.CurrentVendor;
                    var seName = _urlRecordService.GetSeName(vendor, 0, true, false);
                    <li class="nav-item pl-1 pr-1">
                        <a href="@seName" class="nav-link bg-white text-light-green">
                            <i class="fas fa-store"></i>
                            Store
                        </a>
                    </li>
                    <li class="nav-item pl-1 pr-1 dropdown">
                        <a href="#" class="nav-link text-white dropdown-toggle" data-toggle="dropdown">
                            Products
                        </a>
                        <div class="dropdown-menu border-0 rounded-0 shadow">
                            <a class="dropdown-item" href="/Admin/Product/List">
                                @T("Topmenu.ManageProducts")
                            </a>
                            <a class="dropdown-item" href="/Admin/Product/Create">
                                @T("Topmenu.AddProducts")
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.RouteUrl("VendorManageImages")">
                                @T("Topmenu.ManageImages")
                            </a>
                        </div>
                    </li>
                    <li class="nav-item pl-1 pr-1 dropdown">
                        <a href="#"
                           class="nav-link dropdown-toggle text-white">Orders</a>
                        <div class="dropdown-menu border-0 rounded-0 shadow">
                            <a class="dropdown-item" href="/Admin/Order/List">
                                @T("Topmenu.ManageOrders")
                            </a>
                            <a class="dropdown-item" href="@Url.RouteUrl("VendorManageReviews")">
                                @T("Topmenu.ManageReviews")
                            </a>
                        </div>
                    </li>
                    <li class="nav-item pl-1 pr-1 dropdown">
                        <a href="#"
                           class="nav-link dropdown-toggle text-white">Promotions</a>
                        <div class="dropdown-menu border-0 rounded-0 shadow">
                            <a class="dropdown-item" href="@Url.RouteUrl("VendorCampaignManagement")">
                                @T("Topmenu.CampaignManagement")
                            </a>
                            <a class="dropdown-item" href="@Url.RouteUrl("VendorBundles")">
                                @T("Topmenu.Bundles")
                            </a>
                            <a class="dropdown-item" href="@Url.RouteUrl("VendorSellerVoucher")">
                                @T("Topmenu.SellerVoucher")
                            </a>
                            <a class="dropdown-item" href="@Url.RouteUrl("VendorFreeShipping")">
                                @T("Topmenu.FreeShipping")
                            </a>
                        </div>
                    </li>
                    <li class="nav-item pl-1 pr-1 dropdown">
                        <a href="#"
                           class="nav-link dropdown-toggle text-white">Finance</a>
                        <div class="dropdown-menu border-0 rounded-0 shadow">
                            <a class="dropdown-item" href="@Url.RouteUrl("VendorAccountStatements")">
                                @T("Topmenu.AccountStatements")
                            </a>
                            <a class="dropdown-item" href="@Url.RouteUrl("VendorOrderOverview")">
                                @T("Topmenu.OrderOverview")
                            </a>
                            <a class="dropdown-item" href="@Url.RouteUrl("VendorTransactionOverview")">
                                @T("Topmenu.TransactionOverview")
                            </a>
                        </div>
                    </li>
                }
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item pl-1 pr-1 dropdown">
                    @await Component.InvokeAsync("LanguageSelector")
                </li>
            </ul>
        </div>
    </div>
</nav>
@* End of Top Links *@

@* Header Mid - Main Header  *@
<section class="header-main border-bottom d-none d-lg-block">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-auto">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="col-5 pl-5">
                <div class="input-group">
                    <input type="text" class="form-control rounded-0" placeholder="Search..." aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn rounded-0 bg-light-green text-white btn-search" type="button"
                                id="button-addon2">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="widgets-wrap float-md-right position-relative">
                    <a href="#" class="widget-header mr-2">
                        <div class="icon">
                            <i class="icon-sm rounded-circle border fa fa-shopping-cart"></i>
                            <span class="notify bg-light-green">0</span>
                        </div>
                    </a>
                    <a href="#" class="widget-header mr-3">
                        <div class="icon">
                            <i class="icon-sm rounded-circle border fa fa-heart"></i>
                        </div>
                    </a>
                    <div class="widget-header dropdown position-static">
                        <a href="#" data-toggle="dropdown" data-offset="20,10" aria-expanded="false">
                            <div class="icontext">
                                <div class="icon">
                                    <i class="icon-sm rounded-circle border fa fa-user"></i>
                                </div>
                                <div class="text" style="max-width: initial;">
                                    @if (isLoggedIn)
                                    {
                                        var firstName = genericAttributeService.GetAttribute<string>(customer, NopCustomerDefaults.FirstNameAttribute);
                                        <small class="text-muted">Welcome back, @firstName</small>
                                    }
                                    else
                                    {
                                        <small class="text-muted">Hello, Log in</small>
                                    }
                                    <div>My account <i class="fa fa-caret-down"></i> </div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0 rounded-0 shadow dropdown-menu-right mt-3" style="min-width: 100%;">
                            @if (isLoggedIn)
                            {
                                <div class="pt-2 pb-2">
                                    <a class="dropdown-item pt-2 pb-2 border-bottom" href="@Url.RouteUrl("CustomerInfo")">
                                        <i class="fas fa-user-tie mr-2"></i>
                                        @T("TopLinks.ManageMyAccount")
                                    </a>
                                    @if (isVendor)
                                    {
                                        <a class="dropdown-item pt-2 pb-2 border-bottom" href="@Url.RouteUrl("CustomerOrders")">
                                            <i class="fas fa-boxes mr-2"></i>
                                            @T("TopLinks.MyOrders")
                                        </a>
                                        <a class="dropdown-item pt-2 pb-2 border-bottom" href="@Url.RouteUrl("Wishlist")">
                                            <i class="fas fa-heart mr-2"></i>
                                            @T("TopLinks.MyWishlistAndFollowedStores")
                                        </a>
                                        <a class="dropdown-item pt-2 pb-2 border-bottom" href="@Url.RouteUrl("CustomerProductReviews")">
                                            <i class="fas fa-star mr-2"></i>
                                            @T("TopLinks.MyReviews")
                                        </a>
                                        <a class="dropdown-item pt-2 pb-2 border-bottom" href="@Url.RouteUrl("CustomerReturnRequests")">
                                            <i class="fas fa-undo mr-2"></i>
                                            @T("TopLinks.MyReturnsAndCancellations")
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item pt-2 pb-2 border-bottom" href="/Admin">
                                            <i class="fas fa-boxes mr-2"></i>
                                            @T("TopLinks.MyDashboard")
                                        </a>
                                    }
                                    <a class="dropdown-item pt-2 pb-2" href="@Url.RouteUrl("Logout")">
                                        <i class="fas fa-power-off mr-2"></i>
                                        @T("TopLinks.Logout")
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="p-3 text-center">
                                    <a class="btn btn-sm pl-4 pr-4 bg-light-green text-white rounded-0" href="@Url.RouteUrl("Login")"> Login </a>
                                    <hr />
                                    <p>
                                        Not a customer?
                                        <br>
                                        <a href="@Url.RouteUrl("Register")" class="text-light-green">
                                            start here
                                        </a>
                                    </p>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* End of Header Mid - Main Header  *@

@* Top Menu - Main Navigation *@
<nav class="navbar navbar-main navbar-expand-lg p-1 top-menu bg-white d-none d-lg-block">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="display: none;">
            <img src="/Themes/AgroMukam/Content/images/logo-new-small.png" class="logo logo-small" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topMenu"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topMenu">
            <ul class="navbar-nav position-relative w-100">
                <li class="nav-item ni-shop-dropdown dropdown mr-3 position-static">
                    <a class="btn rounded-0 btn-show-all-categories text-muted" href="#" data-toggle="dropdown">
                        <i class="fas fa-stream mr-3"></i>
                        Shop by Category
                        <i class="fas fa-chevron-down toggle-icon float-right mt-1 ml-5"></i>
                    </a>
                    <div class="dropdown-menu shop-dropdown w-100 bg-transparent border-0 pt-0 mt-0"
                         aria-labelledby="navbarDropdown">
                        <div class="bg-white shadow" style="border-top: 5px solid rgba(105, 164, 31, .1);">
                            <div class="d-flex top-menu-wrap">
                                @await Component.InvokeAsync("TopMenu")
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="@Url.RouteUrl("Promotions")">
                        <i class="fas fa-bullhorn mr-1"></i>
                        Promo
                    </a>
                </li>
                <li class="nav-item dropdown pl-2 pr-2">
                    <a class="nav-link" href="#" data-toggle="dropdown">
                        Track My Order
                        <i class="fas fa-chevron-down float-right ml-2" style="margin-top: 2px;"></i>
                    </a>
                    <div class="dropdown-menu border-0 rounded-0 shadow p-4" style="width: 280px;">
                        <h6 class="text-light-green"> Order Tracking From Here... </h6>
                    </div>
                </li>
                <li class="nav-item dropdown pl-2 pr-2">
                    <a class="nav-link" href="#" data-toggle="dropdown">
                        Customer Care
                        <i class="fas fa-chevron-down float-right ml-2" style="margin-top: 2px;"></i>
                    </a>
                    <div class="dropdown-menu border-0 rounded-0 shadow pt-2 pb-2">
                        <a href="#" class="dropdown-item pt-2 pb-2 border-bottom">
                            <img src="/Themes/Venture/Content/images/category-icons/help-center.png"
                                 class="mr-3"
                                 style="height: 24px; width: 24px;" />
                            <span style="vertical-align: middle;"> @T("MegaMenu.HelpCenter") </span>
                        </a>
                        <a href="#" class="dropdown-item pt-2 pb-2 border-bottom">
                            <img src="/Themes/Venture/Content/images/category-icons/order.png"
                                 class="mr-3"
                                 style="height: 24px; width: 24px;" />
                            <span style="vertical-align: middle;"> @T("MegaMenu.Order") </span>
                        </a>
                        <a href="#" class="dropdown-item pt-2 pb-2 border-bottom">
                            <img src="/Themes/Venture/Content/images/category-icons/shipping.png"
                                 class="mr-3"
                                 style="height: 24px; width: 24px;" />
                            <span style="vertical-align: middle;"> @T("MegaMenu.ShippingAndDelivery") </span>
                        </a>
                        <a href="#" class="dropdown-item pt-2 pb-2 border-bottom">
                            <img src="/Themes/Venture/Content/images/category-icons/payment.png"
                                 class="mr-3"
                                 style="height: 24px; width: 24px;" />
                            <span style="vertical-align: middle;"> @T("MegaMenu.Payment") </span>
                        </a>
                        <a href="#" class="dropdown-item pt-2 pb-2">
                            <img src="/Themes/Venture/Content/images/category-icons/refund.png"
                                 class="mr-3"
                                 style="height: 24px; width: 24px;" />
                            <span style="vertical-align: middle;"> @T("MegaMenu.ReturnsAndRefunds") </span>
                        </a>
                    </div>
                </li>
                <li class="nav-item pl-1 pr-1 dropdown position-relative">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <i class="fas fa-fill-drip text-light-green"></i>
                        Color Scheme
                        <i class="fas fa-chevron-down float-right ml-2" style="margin-top: 2px;"></i>
                    </a>
                    <div class="dropdown-menu p-3 ml-auto rounded-0 border-0 shadow" style="right: 0; width: 275px;">
                        <h6 class="mb-0"> Top Header </h6>
                        <hr class="mt-1 mb-2" style="border-top-color: rgba(0, 0, 0, .07);">
                        <div class="d-flex">
                            <div class="color-selector cursor-pointer th-color bg-dark mr-1" data-val="dark">
                            </div>
                            <div class="color-selector cursor-pointer th-color bg-light-green ml-1 mr-1"
                                 data-val="light-green"></div>
                            <div class="color-selector cursor-pointer th-color bg-deep-green ml-1"
                                 data-val="deep-green"></div>
                        </div>
                        <h6 class="mt-3 mb-0"> Primary </h6>
                        <hr class="mt-1 mb-2" style="border-top-color: rgba(0, 0, 0, .07);">
                        <div class="d-flex">
                            <div class="color-selector cursor-pointer p-color bg-light-green mr-1"
                                 data-val="light-green"></div>
                            <div class="color-selector cursor-pointer p-color bg-deep-green ml-1"
                                 data-val="deep-green"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
@* End of Top Menu - Main Navigaion *@


@* Mobile Top bar *@
@* Mobile Bottom Nav *@
@* Mobile Bottom Navigation *@
<section class="mobile-header-main pt-2 pb-2 bg-light-green d-lg-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto align-items-center d-flex">
                <i class="fas fa-stream ml-2 fa-2x" style="color: rgba(255, 255, 255, .8);"></i>
            </div>
            <div class="col pr-4">
                <input class="form-control border-0 rounded pl-3 shadow-sm" placeholder="Search..." />
            </div>
        </div>
    </div>
</section>
    @*  *@
    <nav class="navbar fixed-bottom navbar-light navbar-expand bg-white shadow-reverse d-lg-none">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav w-100 nav-fill">
                <li class="nav-item">
                    <a class="nav-link text-muted p-1" href="/">
                        <img src="/Themes/AgroMukam/Content/images/logo-new-small.png"
                             class="d-block ml-auto mr-auto"
                             style="max-width: 26px;" />
                        <span class="d-block text-center mt-1" style="font-size: 12px;">
                            Home
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted p-1 exp-mob-menu" href="#">
                        <i class="fas fa-th d-block text-center" style="font-size: 22px;"></i>
                        <span class="d-block text-center mt-1" style="font-size: 12px;">
                            Categories
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted p-1" href="/cart">
                        <i class="fas fa-shopping-cart d-block text-center" style="font-size: 22px;"></i>
                        <span class="d-block text-center mt-1" style="font-size: 12px;">
                            Cart
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted p-1" href="@myAccountHref">
                        <i class="fas fa-user d-block text-center" style="font-size: 22px;"></i>
                        <span class="d-block text-center mt-1" style="font-size: 12px;">
                            Account
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted p-1" href="@Url.RouteUrl("CustomerWishRequestAll")">
                        <i class="fas fa-praying-hands d-block text-center" style="font-size: 22px;"></i>
                        <span class="d-block text-center mt-1" style="font-size: 12px;">
                            Customer Wish
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    @* End of Mobile Bottom Nav *@
