@model IList<CategoryModel>

@using Nop.Services.Catalog
@inject IProductService _productService

<div class="home-page-categories container-fluid pt-2 pb-4">

    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            var elementId = "spc-" + item.Id + "-tab";
            var catIds = new List<int>();

            if (item.SubCategories.Count > 0)
            {
                catIds = item.SubCategories.Select(x => x.Id).ToList();
            }
            else
            {
                catIds.Add(item.Id);
            }

            var products = _productService.SearchProducts(0, int.MaxValue, catIds);

            <div class="card border-light hpc-card rounded-0 mt-4 mb-5">
                <div class="card-body p-0">
                    <div class="hpc-header text-center mt-5 pt-2 pb-5">
                        <div class="hpc-title">
                            <h4 class="cursor-pointer font-weight-normal text-theme-dark"> @item.Name </h4>
                        </div>

                        @if (item.SubCategories.Count > 0)
                        {
                            var subList = item.SubCategories.Take(3).ToList();

                            <div class="hpc-sublist pt-3 d-none d-md-block">
                                <ul class="nav flex-column">
                                    @foreach (var subItem in subList)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-muted-x2 pt-1 pb-1" href="#">
                                                @subItem.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }

                    </div>
                    <div class="hpc-body">
                        <div class="hpc-details">
                            <div class="hpc-image h-100">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <img alt="@item.PictureModel.AlternateText"
                                         src="@item.PictureModel.ImageUrl"
                                         title="@item.PictureModel.Title"
                                         class="d-block h-100 w-100 m-auto" />
                                </a>
                                <div class="hpc-sublist-mobile cursor-pointer text-center">
                                    <h4 class="text-white mt-5 pt-lg-4"> @item.Name </h4>
                                    @if (item.SubCategories.Count > 0)
                                    {
                                        <ul class="nav justify-content-center pt-4 pl-5 pr-5 pb-4">
                                            @foreach (var subItem in item.SubCategories)
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link text-white" href="#">
                                                        @subItem.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="hpc-products bg-light">
                            <nav>
                                <div class="nav nav-tabs border-0 justify-content-center" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link border-0 active"
                                       id="@(elementId)"
                                       data-toggle="tab"
                                       href="#@(elementId)-featured"
                                       role="tab"
                                       aria-controls="nav-home"
                                       aria-selected="true">
                                        <i class="fas fa-tag"></i>
                                        Featured
                                    </a>

                                    <a class="nav-item nav-link border-0"
                                       id="@(elementId)"
                                       data-toggle="tab"
                                       href="#@(elementId)-best-seller"
                                       role="tab"
                                       aria-controls="nav-profile"
                                       aria-selected="false">
                                        <i class="fas fa-user-tag"></i>
                                        Best Seller
                                    </a>

                                    <a class="nav-item nav-link border-0"
                                       id="@(elementId)"
                                       data-toggle="tab"
                                       href="#@(elementId)-newest"
                                       role="tab"
                                       aria-controls="nav-contact"
                                       aria-selected="false">
                                        <i class="fas fa-clock"></i>
                                        Newest
                                    </a>

                                    <a class="nav-item nav-link border-0"
                                       id="@(elementId)"
                                       data-toggle="tab"
                                       href="#@(elementId)-cheapest"
                                       role="tab"
                                       aria-controls="nav-contact"
                                       aria-selected="false">
                                        <i class="fas fa-money-check-alt"></i>
                                        Cheapest
                                    </a>
                                </div>
                            </nav>
                            <div class="tab-content"
                                 id="hpc-tabContent">

                                <div class="tab-pane fade show active"
                                     id="@(elementId)-featured"
                                     role="tabpanel"
                                     aria-labelledby="@(elementId)">

                                    <div class="product-grid product-grid-mini container-fluid pl-3 pr-3 pt-2">
                                        @await Html.PartialAsync("_CategoryWise.Featured", products)
                                    </div>

                                </div>
                                @*  *@
                                <div class="tab-pane fade"
                                     id="@(elementId)-best-seller"
                                     role="tabpanel"
                                     aria-labelledby="@(elementId)">

                                    <div class="product-grid product-grid-mini container-fluid pl-3 pr-3 pt-2">
                                        @await Html.PartialAsync("_CategoryWise.BestSeller", item.Name)
                                    </div>

                                </div>
                                @*  *@
                                <div class="tab-pane fade"
                                     id="@(elementId)-newest"
                                     role="tabpanel"
                                     aria-labelledby="@(elementId)">

                                    <div class="product-grid product-grid-mini container-fluid pl-3 pr-3 pt-2">
                                        @await Html.PartialAsync("_CategoryWise.Newest", products)
                                    </div>

                                </div>
                                @*  *@
                                <div class="tab-pane fade"
                                     id="@(elementId)-cheapest"
                                     role="tabpanel"
                                     aria-labelledby="@(elementId)">

                                    <div class="product-grid product-grid-mini container-fluid pl-3 pr-3 pt-2">
                                        @await Html.PartialAsync("_CategoryWise.Cheapest", products)
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h4 class="text-center text-info"> No Category Found! </h4>
    }

</div>