@model CategoryModel
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(categoryUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
@*category breadcrumb*@
@section Breadcrumb
    {
    @if (Model.DisplayCategoryBreadcrumb)
    {

        <section class="common-breadcrumb">
            <nav>
                <div class="container">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item">
                            <a href="@Url.RouteUrl("Homepage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                        </li>
                        @{ int position = 1; }
                        @foreach (var cat in Model.CategoryBreadcrumb)
                        {
                            var isLastCategory = cat.Id == Model.Id;
                            <li itemprop="itemListElement" class="breadcrumb-item @(isLastCategory ? "active": "")" itemscope itemtype="http://schema.org/ListItem">
                                @if (isLastCategory)
                                {
                                    <strong class="current-item" itemprop="name">@cat.Name</strong>
                                    <span itemprop="item" itemscope itemtype="http://schema.org/Thing"
                                          id="@Url.RouteUrl("Category", new {SeName = cat.SeName})">
                                    </span>
                                }
                                else
                                {
                                    <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name" itemprop="item">
                                        <span itemprop="name">@cat.Name</span>
                                    </a>
                                }
                                <meta itemprop="position" content="@position" />
                            </li>
                            position++;
                        }
                    </ol>
                </div> <!-- container //  -->
            </nav>
        </section>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsAfterBreadcrumb, additionalData = Model })
    }
}

@{
    var count = Model.CategoryBreadcrumb.Count;
    var showCategoryPageAds = count > 0 && count < 3;
}

@if (showCategoryPageAds)
{
    var categoryId = Model.CategoryBreadcrumb.FirstOrDefault().Id;

    @*category wise banner ads*@
    @section CategoryWiseBannerAd
    {
        <div class="category-brands">
            @await Html.PartialAsync("_CategoryWiseBannerAds",
                    new ViewDataDictionary(this.Vi‌​ewData) {
                        { "currentCategoryId", categoryId },
                        { "categoryLevel", count }
                    })
        </div>
    }

    @*category wise brand ads*@
    @section CategoryWiseBrands
    {
        <div class="category-brands">
            @await Html.PartialAsync("_CategoryWiseBrands",
                    new ViewDataDictionary(this.Vi‌​ewData) {
                        { "currentCategoryId", categoryId },
                        { "categoryLevel", count }
                    })
        </div>
    }
}

<div class="page category-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsTop, additionalData = Model })

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBeforeSubcategories, additionalData = Model })

        @*subcategories*@
        @if (Model.SubCategories.Count > 0)
        {
            <div class="category-grid sub-category-grid">
                <div class="row">
                    @foreach (var item in Model.SubCategories)
                    {

                        <div class="col-3 px-1 py-1">
                            <div class="card-banner" style="height:100px; background-image: url('@item.PictureModel.ImageUrl');">
                                <a class="card-body bg-gradient-green text-white" href="@Url.RouteUrl("Category", new { SeName = item.SeName })">
                                    <h5 class="card-title text-white text-center pt-3">@item.Name</h5>
                                </a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBeforeFeaturedProducts, additionalData = Model })
        @*featured products*@
        @if (Model.FeaturedProducts.Count > 0)
        {
            <div class="product-grid featured-product-grid">
                <div class="title">
                    <strong>@T("Products.FeaturedProducts")</strong>
                </div>
                <div class="item-grid row">
                    @foreach (var item in Model.FeaturedProducts)
                    {
                        <div class="item-box add-border px-1 py-1 col-12 col-sm-6 col-lg-4 col-xl-3 col-xlg-2">
                            @await Html.PartialAsync("_ProductBox", item)
                        </div>
                    }
                </div>
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsAfterFeaturedProducts, additionalData = Model })
        @if (Model.Products.Count > 0)
        {
            @await Html.PartialAsync("_CatalogSelectors", Model.PagingFilteringContext)
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBeforeFilters, additionalData = Model })
        <!--<div class="product-filters">-->
            @*filtering*@
            <!--@if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
            {
                @await Html.PartialAsync("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter)
            }-->
            @*filtering*@
            <!--@if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
            {
                @await Html.PartialAsync("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter)
            }
        </div>-->
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBeforeProductList, additionalData = Model })

        @if (Model.Products.Count > 0)
        {
            <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid ")">
                <div class="item-grid row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="item-box add-border px-1 py-1 @(Model.PagingFilteringContext.ViewMode == "list" ? "col-12" : "col-12 col-sm-6 col-lg-4 col-xl-3 col-xlg-2")">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    }
                </div>
            </div>
        }
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager Page navigation">
                @pager
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CategoryDetailsBottom, additionalData = Model })
    </div>
</div>
